<div class="container">
    <span>...</span>
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h3>
        <p>Se você tiver alguma dúvida ou sugestão, fale conosco</p>
        <div>
            <h2 style="font-size: 20px">
                <i class="bi bi-envelope"></i>
                <email endereco="kevinmarcos280@gmail.com" conteudo="Enviar um e-mail"></email>
            </h2 style="font-size: 20px">
            <h2 style="font-size: 20px">
                <i class="bi bi-whatsapp"></i>
                (11) 99999-9999
            </h2 style="font-size: 20px">
            <h2 style="font-size: 20px">
                <i class="bi bi-geo-alt-fill"></i>
                Rua Somos de Todos 92415 - 05138-492 - São Paulo
            </h2 style="font-size: 20px">
        </div>
    </div>
</div>